
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align:center;
}
.form {
    width: 40%;
    padding: 10px 20px;
    background: #fefefe;
    margin: 10px;
    border-radius: 8px;
    font-size: 16px;
}
.inputField {
    margin: 10px 30px 0 30px
}

.inputField input {
        width: 100%;
        padding: 2px;
        margin: 8px, 0;
    }
.selectors-area {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:30px;
}
.selector {
    padding: 5px;
    margin-right: 10px;
    font-size: 16px;
}
.wrapper {
    text-align:center;
    margin:10px;
}
.wrapper button {
        width: 100%;
        color: #fff;
        font-size: 16px;
        background-color: #345dac;
        padding: 8px;
    }

@media (max-width: 850px) {
    .form {
        width: 90%;
        
    }
}








.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }



   

